@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
}
.logo img{
    width: 60px;
}
.logo h3{
    font-size: 45px;
    color: #e58f00;
}
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navbar a:hover{
    color: var(--btn-color);
}
.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* design for home section */

.home{
    padding: 1rem 7%;
    background: url(images/background.png);
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 150px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.home-inner-content{
    flex: 1 1 45rem;
}
.home-image{
    width: 100%;
    height: 80%;
    position: relative;
    
}
.home-image img{
    width: 100%;
    position: absolute;
    transform: translate(0%, -40%);
    animation: mymove 5s infinite ease-in-out;
}
@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
.home-text-content{
    padding: 0 8rem;
}
.home-text-content h1{
    font-size: 45px;
    color: #e58f00;
}
.home-text-content p{
    color: white;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 35px;
}
.home-text-content a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.about{
  padding: 2rem 7%;
  background: var(--about-sec);
}
.main-about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

}
.about-content{
  flex: 1 1 45rem;
}
.about-inner-content{
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.about-content .about-inner-content img{
  width: 80%;
  margin-left: 100px;
}
.about-text-content{
  padding: 0 4rem;
}
.about-text-content h1{
  color: #e58f00;
  font-size: 40px;
  margin-bottom: 15px;
}
.about-text-content p{
  color: white;
  font-size: 1.5rem;
  line-height: 35px;
}
.quality{
  padding: 4rem 7%;
  background-image: linear-gradient(60.34deg, white 52.45%, var(--btn-color) 52.45%);
}
.main-quality{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.main-inner-quality{
  flex: 1 1 45rem;
}
.quality-content{
  padding: 0 4rem;
}
.quality-content h1{
  color: var(--btn-color);
  font-size: 40px;
  margin-bottom: 15px;
}
.quality-content p{
  color: var(--about-sec);
  font-size: 1.5rem;
  line-height: 30px;
}
.quality-image{
  width: 100%;
}
.quality-image img{
  width: 100%;
  object-fit: cover;
}
.our-menu-food{
  padding: 2rem 7%;
  background-color: var(--about-sec);
}
.our-menu-food h1{
  color: var(--btn-color);
  font-size: 45px;
  text-align: center;
  padding: 0.5rem 0;
}
.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.box{
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}
.main-menu-food{
  padding: 4rem 7%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.inner-menu-food{
  flex: 1 1 300px;
}
.menu-food-content{
  width:100%;
}
.menu-food-content img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}
.menu-food-text{
  padding: 2rem 2rem;
}
.menu-food-text h2{
  color: var(--btn-color);
  font-size: 30px;
}
.menu-food-text p{
  color:white;
  font-size:18px;
  margin: 2rem 0;
}
.stars{
  color: white;
  margin-bottom: 3rem;
}
.menu-food-text p span{
  color: #e58f00;
  padding: 0.5rem 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}
.menu-food-text p:hover span{
  border: 1px solid white;
  background: var(--btn-color);
  color: white;
  transform: scale(1.1);
}

.menu-food-text a{
  color: white;
  padding: 0.6rem 1.5rem;
  border: 1px solid orange;
  border-radius: 10px;
  font-size: 18px;
 transition: 0.5s;
 display: inline-block;
}
.menu-food-text a:hover{
  transform: scale(1.1);
  background: var(--btn-color);
  border: 1px solid white;
} 
  
  /* menu end */
  /* gallery */

  .gallery{
    padding: 4rem 7%;
    background-color: var(--about-sec);
}
.gallery h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
    color: var(--btn-color);
    letter-spacing: 1px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
  
}
.inner-gallery{
    flex: 1 1 300px;
    
}
.inner-gallery .gallery-image img{
    width: 100%;
}
.inner-gallery .gallery-image:hover img{
    transform: perspective(1000px) rotateX(-4.80deg) rotateY(-10.23deg) scale3d(1.05,1.05,1.05);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/* gallery end*/

/* reviews */

.reviews{
  padding: 4rem 7%;
  background-color: var(--about-sec);
}
.reviews h1{
  font-size: 50px;
  text-align: center;
  padding-bottom: 3rem;
  color: var(--btn-color);
  letter-spacing: 1px;
}
.reviews .slide{
  text-align: center;
}
.reviews .slide img{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.reviews .slide h3{
  font-size: 2.2rem;
  color: orange;
  padding: .5rem 0;
  margin-bottom: 1rem;
}
.reviews .slide p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #a6a9ab;
  position: relative;
  background: var(--primary-color);
  border: 0.1rem solid var(--main-color);
  margin-bottom: 3rem;
  padding: 2rem;
}
.reviews .slide p::before{
  content: '';
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: var(--primary-color);
  border-bottom: 0.1rem solid var(--main-color);
  border-right: 0.1rem solid var(--main-color);
  height: 2rem;
  width: 2rem;
}
.reviews .slide .stars{
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0rem;
}

/* reviews end*/
/* team */

.team{
  padding: 4rem 7%;
  background-color: var(--about-sec);
}

.team h1{
  font-size: 50px;
  text-align: center;
  padding-bottom: 3rem;
  color: orange;
  letter-spacing: 1px;
}

.team .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.team .box-container .box{
  background: var(--about-sec);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.team .box-container .box .image{
  height: 35rem;
  width: 100%;
  padding: 1.1rem;
  overflow: hidden;
  position: relative;
}

.team .box-container .box .image img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.team .box-container .box:hover .image img{
  transform: scale(1.1);
}

.team .box-container .box .content{
  padding: 2rem;
  padding-top: 0;
}

.team .box-container .box .content h3{
  color: orange;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.team .box-container .box .content p{
  color: white;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.team .box-container .box .content .share i{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  background: none;
  border-radius: .5rem;
  font-size: 2rem;
  color: white;
  border: .1rem solid var(--primary-color);
  margin: .5rem;
}

.team .box-container .box .content .share i:hover{
  color: var(--white);
  border: .1rem solid var(--secondary);
  background: var(--secondary);
  box-shadow: var(--box-shadow);
  transition: .4s linear;
  cursor: pointer;
}
/* team end */
/* footer */
.footer{
  padding: 4rem 7%;
  background: var(--bg);
  text-align: center;
  background-color: var(--about-sec);
}

.footer .logo img{
  width: 60px;
}
.footer .logo h3{
  font-size: 45px;
  color: #e58f00;
}

.footer .icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.footer .icons-container .icons i{
  color: white;
  size: 10cm;
  margin-top: 2rem;
  margin-bottom: 3rem;
}


.footer .icons-container .icons h3{
  text-transform: capitalize;
  font-size: 2.5rem;
  color: orange;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.footer .icons-container .icons p{
  font-size: 1.7rem;
  line-height: 2;
  color: white;
  padding: .5rem 0;
  margin-bottom: 1rem;
}

.footer .icons-container .icons .link a{
  font-size: 1.7rem;
  line-height: 2;
  color: var(--white);
  padding: 1rem 0;
  display: block;
}

.footer .icons-container .icons .link a:hover{
  color: var(--secondary);
  text-decoration: underline;
}

.share{
  padding: 6rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share i{
  position: center;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  background: none;
  border-radius: .5rem;
  font-size: 2rem;
  color: white;
  border: .1rem solid var(--primary-color);
  margin: .5rem;
}

.share i:hover{
  color: var(--white);
  border: .1rem solid var(--secondary);
  background: var(--secondary);
  box-shadow: var(--box-shadow);
  transition: .4s linear;
  cursor: pointer;
}

.footer .credit{
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
  border-top: .1rem solid var(--secondary);
}

.footer .credit span{
  color: var(--secondary);
}





/* footer */

